<div class='playlist__card'>
	<img src='{{image}}' alt='{{name}}' height='280px' width='280px' />
	<div class='playlist__content'>
		<strong class='playlist__name'>{{name}}</strong>
		<em class='playlist__amount'>{{amount}} пісень</em>
	</div>
</div>