@use '../../lib/service.scss' as s;
@use '../../lib/spotify.scss' as spotify;

.title--small {
	font-size: 16px;
}

.header {
	display: flex;
	justify-content: flex-end;
}

.choose {
	display: grid;
	gap: s.space(6);
}

.choose__item {
	display: grid;
	grid-template-columns: 56px 1fr;
	gap: s.space(6);
}

.choose__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
	align-items: center;
}

.form__field {
	width: 100%;
	font-size: 64px;
	color: s.color(light);
	text-align: center;
	padding: s.space(4);
	border-bottom: 1px solid s.color(border);
}

.form__button {
	color: s.color(dark);
	background-color: #20D562;
	max-width: fit-content;
	font-size: 20px;
	padding: s.space(3) s.space(10);
	border-radius: s.radius(6);

	transition: opacity 0, 6s;

	&:hover {
		opacity: 0.6;
	}
}