{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class='content'>
  <div class='row'>
    <div class='info'>
      <h4>{{title}}</h4>
      <p>{{info}}</p>
    </div>

    <a href='/product-list' class='button'>Повернутися назад</a>
  </div>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}