@use '../../lib/service.scss' as s;
@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purcaseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;
@use '../../component/divider/style.scss' as divider;

.main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
  padding: s.space(10);
  font-size: 14px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: s.space(5);
  padding: s.space(5);
  border: 1px solid s.color(border);
  border-radius: 10px;
}

.info_line-col {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.cart {
  display: grid;
  gap: s.space(2);
}

.info-item {
  gap: s.space(2);
  justify-content: space-around;
  margin-top: s.space(3);
  margin-bottom: s.space(3);
}

.hr {
  color: s.color(middle-dark);
  margin-bottom: s.space(2);
}

.button {
  width: 100%;
  
}

.heading__title {
  color: s.color(primary);
}